@import "tailwindcss";

@theme {
  --color-primary: #FF6B35;
  --color-secondary: #004E89;
  --color-success: #00A676;
  --color-danger: #F72585;
  --color-background: #0F0F0F;
}

body {
  background-color: var(--color-background);
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
